/nbproject/private/
/LensLease-ejb/nbproject/private/
/LensLease-war/nbproject/private/
/LensLease-ejb/build/
/build/
/dist/
/LensLease-war/build/
/LensLease-war/dist/
/LensLease-ejb/dist/
/LensLeaseUsers/nbproject/private/
/LensLeaseUsers/build/
/LensLeaseUsers/dist/
/adminportal/nbproject/private/
/usersportal_react/nbproject/private/
